/.gitignore
/.vscode/
/lib/*.js.map
/lib/*.test.js
/src/
/polyfill/ts/
/polyfill/test/
/test/
/*.tgz
/private-modules/**/tsconfig.json
/private-modules/**/package-lock.json
/private-modules/**/test/
/private-modules/**/*.test.ts
/coverage/
/.travis.yml
